Flask==3.0.1
Flask-SQLAlchemy==3.0.0
requests==2.31.0
pypdf==4.0.1
libmagic==1.0
bs4==0.0.2
openai==1.12.0
python-dotenv
flask-cors    
python-docx
pyodbc
pytest
requests
requests-mock
langchain
langchain-openai
langchain-cli