@keyframes animationRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes animationLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes animationTop {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateX(0);
  }
}

.selected-filters {
  animation: animationLeft 0.5s ease-out;
}

.document {
  animation: animationRight 0.5s ease-out;
}

.states {
  animation: animationLeft 0.5s ease-out;
}
