@keyframes animationRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes animationLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes animationTop {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateX(0);
  }
}

.resultItem {
  animation: animationLeft 0.5s ease-out;
  margin-top: 25px;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  display: inline-flex;
}

.header {
  align-self: stretch;
  background: white;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.titleSection {
  padding-left: 6px;
  padding-right: 4px;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  display: flex;
}

.titleInner {
  padding-left: 2px;
  padding-right: 2px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}

.title {
  color: #424242;
  font-size: 14px;
  font-family: "Segoe UI";
  font-weight: 700;
  text-decoration: underline;
  word-wrap: break-word;
}

.stateDate {
  /* width: 119px; */
  padding-left: 4px;
  justify-content: flex-end;
  align-items: center;
  gap: 1px;
  display: flex;
}

.stateDateText {
  width:max-content;
  text-align: right;
  color: #616161;
  font-size: 14px;
  font-family: "Segoe UI";
  font-weight: 400;
  word-wrap: break-word;
}

.buttons {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
}

.summary {
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.summaryText {
  flex: 1 1 0%;
  height: 48px;
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI";
  font-weight: 400;
  word-wrap: break-word;
}
