.Input {
    flex: "1 1 0";
                    height: 32;
                    
                    display: "flex";
                    color: "#707070";
                    fontSize: 14;
                    fontFamily: "Segoe UI";
                    fontWeight: "400";
                    wordWrap: "break-word";
}