.button {
  background-color: #0f6cbd;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-family: var(--fontFamilyBase);
  font-weight: var(--fontWeightSemibold);
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #115ea3;
}

.button[disabled] {
  cursor: default;
}

.doc-create-button {
  margin: 0px auto 5px;  
  display: block;
  opacity: 0;
  transition: opacity 0.25s ease; 
}

.scroll-button {
  position: fixed;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%); 
  z-index: 9999;
  display: block;
