body {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-color: white;
  height: 100vh;
  text-align: center;
}

.image {
  padding: 20px 0px 0px 0px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 25px; 
  margin-top: 25px;
}

.searchBar {
  width: 60%;
  height: 100%; 
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 1000px;
  font-size: 16px;
  margin-right: 10px;
}

.searchBar:focus {
  outline: none;
  border-color: gray; 
}

.searchButton {
  height: 100%;
  padding: 7px;
  border: 2px solid #ccc;
  border-radius: 1000px;
  cursor: pointer;
}

.searchButton:focus {
  border-color: gray; 
}

.summarizeButton {
  height: 40px;
  padding: 10px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 1000px;
  font-size: 16px;
  color: gray;
  margin-top: 25px;
  cursor: pointer;
}

.summarizeButton:focus {
  outline: none;
  border-color: gray;
}

.line {
  height: 2px; 
  background-color: #ccc; 
  border-radius: 1px; 
  margin-top: 35px;
  position: absolute;
  left: 5%; 
  width: 90%; 
}

.summarized-text {
  text-align: left;
  font : Arial;
  font-size: 16px;
  margin: 3rem 1rem;
}
